
@font-face {
    font-family: 'schabo';
    src: url('/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

      .client-one{
        margin: 0 auto;
        padding-left: 2ch;
        font-family:  Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        margin-top: 1rem;
        
     

      }

      .client-one-heading{
           font-size: 5rem;
      }


      .client-one-des{
        font-size: 1rem;

      }

      .client-one-para{
        font-size: 1rem;
      }


      .client-one-year{
        font-size: 7rem
      }


    .back{
        font-size: 3rem;
    }