
@font-face {
    font-family: 'schabo';
    src: url('/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }



.header{
    position: fixed;
    top: 0; /* Align it at the top */
    left: 0; /* Start from the left of the screen */
    width: 100%; /* Take full width of the screen */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically within the header */
    padding: 20px 0; /* Add padding instead of margin for spacing */
  
    z-index: 77;
  

    >nav a{
        margin: 10px;
        font-size: 30px;
        font-family: "schabo";
        font-weight: 30rem;
        color: white;
    }
}