
@font-face {
    font-family: 'schabo';
    src: url('/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }



.main-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: schabo;
    margin-top: 4rem;
}



.grid-main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 50vw;
    height: 60vh;  
    margin-top: 3rem;  
}

.grid-row-one{
    display: flex;
    flex-direction: row;
    height: 14vh;
  
    width: 100%;
    margin: 2px;
    }



.grid-row-two{
    display: flex;
    flex-direction: row;
    height: 14vh;

    width: 100%;
    margin: 2px;

}
.grid-row-three{
    display: flex;
    flex-direction: row;
    height: 14vh;
    
    width: 100%;
    margin: 2px;

}
.grid-row-four{
    display: flex;
    flex-direction: row;
    height: 14vh;
   
    width: 100%;
    margin: 2px;

}
.grid-row-five{
    display: flex;
    flex-direction: row;
    height: 14vh;
    
    width: 100%;
    margin: 2px;

}


.grid-col-one{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.33%;
    border: 0.1px solid rgb(91, 91, 91);
    margin-right: 2px;
    
}


.grid-col-two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.33%;
    border: 0.1px solid rgb(91, 91, 91);
    margin-right: 2px;
}

.grid-col-three{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.33%;
    border: 0.1px solid rgb(91, 91, 91);
  
}


.logos{
    height: 20%;
    
}

.logos-nvdia{
    
    height: 40%;
}

.logos-coca{
   height: 30%;
}

.logos-circle{
    
    height: 50%;
  
}

.logos-fastrack{
    height: 40%;
}

.logos-circle-one{
    height: 50%;
}

.logos-fastrack-one{
    height: 40%;
    
}


.logos-hc{
    height: 60%;
}

.logos-sq{
    height: 30%;
}

.logos-ho{
    height: 40%;
}

.logos-sh{
    height: 40%;
}

.logos-kr{
    height: 50%;
}